spring:
  # Database - Development
  datasource:
    url: jdbc:postgresql://localhost:5432/clinicpro_dev
    username: postgres 
    password: 123456
    driver-class-name: org.postgresql.Driver
    hikari:
      maximum-pool-size: 5
      minimum-idle: 2
      connection-timeout: 20000
  
  # Flyway - Development (clean start)
  flyway:
    clean-disabled: false
    clean-on-validation-error: true
  
  # JPA - Development
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
  
  # Mail - Development (MailHog for local testing)
  mail:
    host: localhost
    port: 1025
    username: ""
    password: ""
    properties:
      mail:
        smtp:
          auth: false
          starttls:
            enable: false

# Swagger enabled in dev
springdoc:
  swagger-ui:
    enabled: true

# Logging
logging:
  level:
    com.clinic: DEBUG
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE
